extends base.pug

block content

	if errors
		for error in errors
			div(class="alert alert-danger")
				| #{error.msg}
	div(class="container")
		form(method="post", action="")
			div(class="form-group")
				label(for="exampleInputEmail1")
					| Address
				input(type="text", class="form-control", id="exampleInputEmail1", name="address", placeholder="Enter address")

			div(class="form-group")
				label(for="exampleInputPassword1")
					| PostCode
				input(type="text", class="form-control", name="zipcode", id="exampleInputPassword1", placeholder="Enter postcode")

			div(class="form-group")
				label(for="exampleInputPassword1")
					| Card number
				input(type="text", class="form-control", name="card", id="exampleInputPassword1", placeholder="Enter your card number")

			button(type="submit", class="btn btn-primary")
				| Submit

