html

    head
        title
            | Logon / Register
            
    body
        if errors
            for error in errors
                p
                    | #{error.msg}
        form(method="post", action="/register")
            input(type="text", name="email")
            input(type="text", name="password")
            input(type="text", name="password2")
            input(type="submit")
